@use "sass:color";
@use "../styles/colors.module.scss" as *;

.container {
    background-color: color.adjust($color: $background-color, $lightness: -10%);
    height: 100%;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            place-content: space-around;
            width: fit-content;
            height: 100%;
        }

        li {
            margin: 0 6px;
            display: flex;

            a {
                align-self: center;
                text-decoration: none;
                padding: 16px 32px;
            }
        }

        .userContext {
            display: flex;
            justify-items: center;
            align-items: center;

            .userContainer {
                margin: 0 1em;
            }

            .logoutButton {
                background-color: color.adjust($color: $background-color, $lightness: -20%);
                padding: 0 32px;
                cursor: pointer;
                height: 100%;
                align-content: center;
            }
        }
    }
}
